{% load static %}

 <!-- Including Jquery -->
 <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
 <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
 <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
 <script src="{% static 'js/vendor/wow.min.js' %}"></script>
 <!-- Including Javascript -->
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/plugins.js' %}"></script>
 <script src="{% static 'js/popper.min.js' %}"></script>
 <script src="{% static 'js/lazysizes.js' %}"></script>
 <script src="{% static 'js/main.js' %}"></script>